html, body {
  font-family: sans-serif;
}

body {
  margin: 20px;
  background-color: #e4e4e4;
}

.keyboard-wrapper {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard-wrapper h2 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

.textarea-keyboard {
  padding: 8px;
  margin-top: 9vh;
  width: calc(240px + 15vw);
  min-width: 260px;
  min-height: 80px;
  font-size: 1.3rem;
  border-radius: 4px;
  border: 1px solid #a3a3a3;
  outline: none;
}

.textarea-keyboard:focus {
  border-color: #7619df;
  outline: none;
}

.keyboard {
  margin-top: 4vh;
  padding: 16px;
  border: 2px solid black;
  border-radius: 7px;
  -webkit-box-shadow: 7px -7px 20px 0px #00000066;
          box-shadow: 7px -7px 20px 0px #00000066;
}

.keyboard__keys-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.keyboard__keys-line ~ .keyboard__keys-line {
  margin-top: 6px;
}

.keyboard__keys-line span::before {
  display: inline-block;
}

.keyboard__key {
  height: 40px;
  width: 40px;
  padding: 0 2px;
  line-height: 40px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
}

.keyboard__key ~ .keyboard__key {
  margin-left: 6px;
}

.backspace-key {
  width: auto;
  padding: 0 4px;
  font-size: 0.8rem;
}

.backspace-key span:before {
  padding-right: 1px;
  font-size: 10px;
}

.tab-key, .r-slash-key {
  width: 59px;
}

.tab-key {
  font-size: 0.8rem;
}

.tab-key span:before {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  font-size: 12px;
}

.caps-key {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 76px;
  height: 42px;
  padding: 8px;
  line-height: 13px;
  font-size: 0.8rem;
}

.f-key, .j-key {
  position: relative;
}

.f-key::after, .j-key::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 19px;
  width: 9px;
  height: 2px;
  background: #000;
}

.enter-key {
  width: 100px;
  font-size: 0.8rem;
}

.enter-key span:before {
  -webkit-transform: translate(-1px, 4px);
          transform: translate(-1px, 4px);
  font-size: 16px;
}

.l-shift-key, .r-shift-key {
  font-size: 0.8rem;
}

.l-shift-key span:before, .r-shift-key span:before {
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
  font-size: 17px;
}

.l-shift-key {
  width: 86px;
}

.r-shift-key {
  width: 136px;
}

.special-keys-row .keyboard__key {
  font-size: 0.8rem;
  width: 53px;
}

.space-key {
  width: 299px !important;
  position: relative;
}

.space-key::after {
  content: "";
  position: absolute;
  left: 120px;
  top: 20px;
  display: block;
  width: 70px;
  height: 2px;
  background: #000;
}

.led-key {
  font-size: 0.75rem !important;
}

.style-pink {
  background-color: #ebbede;
  border-color: #c251d1;
}

.style-pink .keyboard__key {
  border: none;
  background-color: #fff3fb;
  -webkit-box-shadow: 0px 0px 2px #000000a3;
          box-shadow: 0px 0px 2px #000000a3;
}

.style-turquoise {
  background-color: #84efe7;
  border-color: #3ba9a1;
}

.style-turquoise .keyboard__key {
  border: none;
  background-color: #dffffd;
  -webkit-box-shadow: 0px 0px 2px #000000a3;
          box-shadow: 0px 0px 2px #000000a3;
}

.style-dark {
  background-color: #303030;
}

.style-dark .keyboard__key {
  color: #eaeaea;
  border: none;
  -webkit-box-shadow: 0px 0px 2px #dcdcdc;
          box-shadow: 0px 0px 2px #dcdcdc;
}

.style-dark .f-key::after, .style-dark .j-key::after {
  background: #eaeaea;
}

.style-dark .space-key::after {
  background: #eaeaea;
}

.style-light {
  background-color: #f7f7f7;
}

.style-light .keyboard__key {
  background-color: #f7f7f7;
  border: none;
  -webkit-box-shadow: 0px 0px 2px #252525;
          box-shadow: 0px 0px 2px #252525;
}

.style-steel {
  background-image: url("../img/keyboard-backgroud-steel.webp");
  background-position: 0 73%;
  background-size: cover;
}

.style-steel .keyboard__key {
  background: linear-gradient(45deg, #dfdfdfb5, #8383839c);
  -webkit-box-shadow: inset 4px -5px 6px -3px #fff;
          box-shadow: inset 4px -5px 6px -3px #fff;
}

.keyboard-style-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.keyboard-style-button .check-block {
  width: 20px;
  height: 20px;
  margin-left: 2vh;
  cursor: pointer;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
}

.keyboard-style-button .check-block:hover {
  -webkit-box-shadow: 0 0 3px #252525;
          box-shadow: 0 0 3px #252525;
}

.keyboard-style-button .check-block:first-child {
  background-color: #ebbede;
}

.keyboard-style-button .check-block:nth-child(2) {
  background-color: #84efe7;
}

.keyboard-style-button .check-block:nth-child(3) {
  background-color: #303030;
}

.keyboard-style-button .check-block:nth-child(4) {
  background-color: #f7f7f7;
}

.keyboard-style-button .check-block:last-child {
  background-image: url("../img/keyboard-backgroud-steel.webp");
  background-position: center;
  background-size: cover;
}

.key-active-light {
  background-color: #c4c4c4 !important;
}

.key-active-dark {
  background-color: #595959 !important;
}

.key-active-pink {
  background-color: #ff95dc !important;
}

.key-active-turquoise {
  background-color: #55f5eb !important;
}

.key-active-steel {
  background-color: lime !important;
}

.attr-aria-label {
  position: relative;
}

.attr-aria-label::before {
  content: attr(aria-label);
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 25px;
  padding: 4px 10px;
  left: -46px;
  top: 50px;
  color: #fff;
  background: #7546e3;
  -webkit-box-shadow: 0px 0px 7px inset #000;
          box-shadow: 0px 0px 7px inset #000;
  opacity: 1;
  cursor: default;
  border-radius: 3px;
  font-family: 'Literata', serif;
  letter-spacing: 1px;
  font-size: 1rem;
  font-style: italic;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.attr-aria-label::after {
  content: "";
  position: absolute;
  top: 84%;
  left: 50%;
  margin-left: -7px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}

.attr-aria-label:hover::before {
  opacity: 1;
}

.developed-by {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotateX(180deg);
          transform: translateX(-50%) rotateX(180deg);
  font-family: 'Literata', serif;
  font-size: 1.5rem;
  text-shadow: 0 0 1px #000;
  opacity: 0;
  -webkit-animation: rotatetext forwards 2s ease;
          animation: rotatetext forwards 2s ease;
}

@-webkit-keyframes rotatetext {
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) rotateX(0deg);
            transform: translateX(-50%) rotateX(0deg);
  }
}

@keyframes rotatetext {
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) rotateX(0deg);
            transform: translateX(-50%) rotateX(0deg);
  }
}

.led-illumination {
  -webkit-box-shadow: -1px 0px 2px 1px #29ae2f, 0px 1px 2px 1px #ff00f9, 0px -1px 2px 1px #fffb00, 1px 0px 2px 1px #0004ff !important;
          box-shadow: -1px 0px 2px 1px #29ae2f, 0px 1px 2px 1px #ff00f9, 0px -1px 2px 1px #fffb00, 1px 0px 2px 1px #0004ff !important;
}
