html, body {
    font-family: sans-serif;
}
body {
    margin: 20px;
    // font-size: 1.2rem;
    background-color: rgb(228, 228, 228);
}

$fontSizeSpecialKeys: 0.8rem;

.keyboard-wrapper {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 0;
        font-size: 2rem;
        letter-spacing: 1px;
    }
}

.textarea-keyboard {
    padding: 8px;
    margin-top: 9vh;
    width: calc(240px + 15vw);
    min-width: 260px;
    min-height: 80px;
    font-size: 1.3rem;
    border-radius: 4px;
    border: 1px solid #a3a3a3;
    outline: none;

    &:focus {
        border-color: #7619df;
        outline: none;
    }
}

.keyboard {
    // min-width: 800px;
    margin-top: 4vh;
    padding: 16px;
    border: 2px solid black;
    border-radius: 7px;
}
.keyboard__keys-line {
    display: flex;
    justify-content: space-between;
    & ~ & {
        margin-top: 6px;
    }
    // Все иконки в блоках клавиш будут иметь inline-block
    span::before {
        display: inline-block;
    }
}
.keyboard__key {
    height: 40px;
    width: 40px;
    padding: 0 2px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;

    & ~ & {
        margin-left: 6px;
    }
}
// backspace
.backspace-key {
    width: auto;
    padding: 0 4px;
    font-size: $fontSizeSpecialKeys;
    span:before {
        padding-right: 1px;
        font-size: 10px;
    }
}
.tab-key, .r-slash-key {
    width: 59px;
}
// TAB
.tab-key {
    font-size: $fontSizeSpecialKeys;
    span:before {
        transform: translateX(2px);
        font-size: 12px;
    }
}
// Caps
.caps-key {
    box-sizing: border-box;
    width: 76px;
    height: 42px;
    padding: 8px;
    line-height: 13px;
    font-size: $fontSizeSpecialKeys;
}
// F, J
.f-key, .j-key {
    position: relative;
}
.f-key::after, .j-key::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 19px;
    width: 9px;
    height: 2px;
    background: #000;
}

// Enter
.enter-key {
    width: 100px;
    font-size: $fontSizeSpecialKeys;
    span:before {
        transform: translate(-1px, 4px);
        font-size: 16px;
    }
}
// Shift
.l-shift-key, .r-shift-key {
    font-size: $fontSizeSpecialKeys;
    span:before {
        transform: translate(0, 1px);
        font-size: 17px;
    }
}
.l-shift-key {
    width: 86px;
}
.r-shift-key {
    width: 136px;
}
.special-keys-row .keyboard__key{
    font-size: $fontSizeSpecialKeys;
    width: 53px;
}
//  Space
.space-key {
    width: 299px !important;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 120px;
        top: 20px;
        display: block;
        width: 70px;
        height: 2px;
        background: #000;
    }
}
// LED
.led-key {
    font-size: 0.75rem !important;
}


// Стили клавиатуры и активных клавиш -----------------------------------------
.style-pink {
    background-color: #ebbede;
    border-color: #c251d1;
    .keyboard__key {
        border: none;
        background-color: #fff3fb;
        box-shadow: 0px 0px 2px #000000a3;
    }
}

.style-dark {
    background-color: #303030;
    .keyboard__key {
        color: #eaeaea;
        border: none;
        box-shadow: 0px 0px 2px #dcdcdc;
    }
    .f-key::after, .j-key::after {
        background: #eaeaea;
    }
    .space-key::after{
        background: #eaeaea;
    }
}

.style-light {
    background-color: #f7f7f7;
    .keyboard__key {
        // color: #eaeaea;
        border: none;
        box-shadow: 0px 0px 2px #252525;
    }
}
// box-shadow: -1px 0px 2px 2px #29ae2f, 1px 0px 2px 2px red;

// блок с кнопками выбора стиля клавиатуры
.keyboard-style-button {
    display: flex;
    margin-top: 20px;

    .check-block {
        width: 20px;
        height: 20px;
        margin-left: 2vh;
        cursor: pointer;
        border: 1px solid #9c9c9c;
        border-radius: 5px;
        transition: .15s ease-out;

        &:hover {
            box-shadow: 0 0 3px #252525;
        }
        &:first-child {
            background-color: #ebbede;
        }
        &:nth-child(2) {
            background-color: #303030;
        }
        &:last-child {
            background-color: #f7f7f7;
        }
    }
    
}

.key-active-light {
    background-color: #c4c4c4 !important;
}
.key-active-dark {
    background-color: #595959 !important;
}
.key-active-pink {
    background-color: #ff95dc !important;
}

// Стили клавиатуры и активных клавиш -----------------------------------------
