html, body {
    font-family: sans-serif;
}
body {
    margin: 20px;
    // font-size: 1.2rem;
    background-color: rgb(228, 228, 228);
}

$fontSizeSpecialKeys: 0.8rem;

.keyboard-wrapper {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 0;
        font-size: 2rem;
        letter-spacing: 1px;
    }
}

.input-keyboard {
    padding-left: 10px;
    margin-top: 9vh;
    width: calc(240px + 15vw);
    min-width: 300px;
    min-height: 40px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: 1px solid #a3a3a3;
    outline: none;

    &:focus {
        border-color: #7619df;
        outline: none;
    }
}

.keyboard {
    // min-width: 800px;
    margin-top: 4vh;
    padding: 16px;
    border: 2px solid black;
}
.keyboard__keys-line {
    display: flex;
    // justify-content: space-around;
    & ~ & {
        margin-top: 6px;
    }
    // Все иконки в блоках клавиш будут иметь inline-block
    span::before {
        display: inline-block;
    }
}
.keyboard__key {
    height: 40px;
    width: 40px;
    padding: 0 2px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;

    & ~ & {
        margin-left: 6px;
    }
}
// backspace
.backspace-key {
    width: auto;
    padding: 0 4px;
    font-size: $fontSizeSpecialKeys;
    span:before {
        padding-right: 1px;
        font-size: 10px;
    }
}
.tab-key, .r-slash-key {
    width: 59px;
}
// TAB
.tab-key {
    font-size: $fontSizeSpecialKeys;
    span:before {
        transform: translateX(2px);
        font-size: 12px;
    }
}
// Caps
.caps-key {
    box-sizing: border-box;
    width: 76px;
    height: 42px;
    padding: 8px;
    line-height: 13px;
    font-size: $fontSizeSpecialKeys;
}
// F, J
.f-key, .j-key {
    position: relative;
}
.f-key::after, .j-key::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 19px;
    width: 9px;
    height: 2px;
    background: #000;
}

// Enter
.enter-key {
    width: 100px;
    font-size: $fontSizeSpecialKeys;
    span:before {
        transform: translate(-1px, 4px);
        font-size: 16px;
    }
}
// Shift
.l-shift-key, .r-shift-key {
    font-size: $fontSizeSpecialKeys;
    span:before {
        transform: translate(0, 1px);
        font-size: 17px;
    }
}
.l-shift-key {
    width: 86px;
}
.r-shift-key {
    width: 136px;
}
.special-keys-row .keyboard__key{
    font-size: $fontSizeSpecialKeys;
    width: 53px;
}
//  Space
.space-key {
    width: 299px !important;
}
// LED
.led-key {
    font-size: 0.75rem !important;
}